server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name _ localhost;

  location / {
    add_header 'Content-Type' 'application/json';
    return 200 '{
      "hostname": "${HOSTNAME}",
      "namespace": "${NAMESPACE}",
      "pod": "${POD}",
      "path": "$uri",
      "FOO": "${FOO}"
    }';
  }
  
  location = /health {
    add_header 'Content-Type' 'text/plain';
    add_header 'Hostname' '${HOSTNAME}';
    return 200 'OK';
  }
}
